<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <!-- top -->
        <div class="row">
            <div class="col">
                <h2>Hello, {{request.session.first_name}}!</h2>
            </div>
            <div class="col-4"></div>
            <div class="col">
                <a href="{% url 'loginspace:logout' %}">Logout </a>
                <button type="button" class="btn btn-outline-warning"><a href="{% url 'userspace:add' %}">New job!</a></button>
            </div>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <!-- mid -->
        <div class="row">
            <h4>Everyone's jobs:</h4>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Job</th>
                        <th scope="col">Location</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in all_jobs %}
                        {% if not i.id in granteds_list %}
                        <tr>
                            <td>{{i.title}}</td>
                            <td>{{i.location}}</td>
                            <td>
                                <a href="/jobs/{{i.id}}">View |</a>
                                {% if i.posted_by.id == request.session.user_id %}
                                    <a href="/jobs/destroy/{{i.id}}">Remove |</a>
                                    <a href="/jobs/edit/{{i.id}}">Edit |</a>
                                {% else %}
                                {% endif %}
                                <a href="/jobs/granted/{{i.id}}">Add</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- right -->
        <div class="row">
            <h4>{{request.session.first_name}}'s jobs:</h4>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Job</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in my_granted_jobs %}
                    <tr>
                        <td>{{i.title}}</td>
                        <td>
                            <a href="/jobs/{{i.id}}">View | </a>
                            <a href="/jobs/destroy/{{i.id}}">Done | </a>
                            <a href="/jobs/remove_granted/{{i.id}}">Give up</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</body>

</html>